@import "colors.less";

atom-text-editor{

    syntax--background-color: white;

    .syntax--EnvisionBasicLanguage.syntax--comments {
        color: @green;
    }

    .syntax--EnvisionBasicLanguage.syntax--keywords {
        color: @navy;
    }

    .syntax--EnvisionBasicLanguage.syntax--numbers {
        color: @orange;
    }

    .syntax--EnvisionBasicLanguage.syntax--string {
        color: @red;
    }

    .syntax--EnvisionBasicLanguage.syntax--ReservedEnvisionWords {
        color: @purple;
        font-style: italic;
    }

    .syntax--EnvisionBasicLanguage.syntax--SystemVariables {
        color: @purple;
        font-style: italic;
    }

    .syntax--EnvisionBasicLanguage.syntax--Functions {
        color: @cyan;
    }

    .syntax--EnvisionBasicLanguage.syntax--Operators {
        color: gray;
    }

    .syntax--EnvisionBasicLanguage.syntax--PreProcStatements {
        color: @blue;
    }

    .syntax--EnvisionBasicLanguage.syntax--SubroutineLabel {
        color: pink;
    }

    .syntax--EnvisionBasicLanguage.syntax--EnvisionBasicMacros {
        color: @navy;
        font-style: bold;
    }




}
